# Node modules
**/node_modules

# Turbo
**/.turbo

# Build directories
**/dist
**/build
**/out

# Logs
**/*.log
**/*.log.*

# Dependency directories
**/bower_components

# Environment files
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Version control
/.git
/.gitignore
**/.gitmodules

# Continuous integration
/.travis.yml
/.github
/.gitlab-ci.yml

# IDE settings
/.idea
**/.vscode
**/*.sublime-project
**/*.sublime-workspace

# Other unnecessary files
**/Thumbs.db
**/.DS_Store
**/*.swp
**/*.swo
**/.*.swn
**/.*.swm
**/*.bak
**/*.tmp
**/temp
**/tmp
