.code {
  background-color: #282a36;
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  padding: 8px 8px 8px 52px;
  line-height: 1.53;
  font-size: 13px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  tab-size: 2;
  /* white-space: pre; */
  overflow-x: auto;
  position: relative;
}

.code:before {
  content: attr(data-gutter);
  position: absolute;
  background-color: #44475a;
  left: 0;
  top: 0;
  border-right: 1px solid #ccc;
  padding: 8px;
  color: #777;
  white-space: pre-wrap;
  text-align: right;
  min-width: 25px;
}

.code:after {
  content: attr(data-highlight-language);
  top: 0;
  right: 3px;
  padding: 3px;
  font-size: 10px;
  text-transform: uppercase;
  position: absolute;
  color: #f8f8f2;
}

.dracula-current-line {
  color: #44475a;
}

.dracula-comment {
  color: #6272a4;
}

.draucla-foreground {
  color: #f8f8f2;
}

.dracula-cyan {
  color: #8be9fd;
}

.dracula-green {
  color: #50fa7b;
}

.dracula-orange {
  color: #ffb86c;
}

.dracula-pink {
  color: #ff79c6;
}

.dracula-purple {
  color: #bd93f9;
}

.dracula-red {
  color: #ff5555;
}

.dracula-yellow {
  color: #f1fa8c;
}
