@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --list-style-type-*: initial;
  --list-style-type-decimal: decimal;
  --list-style-type-none: none;
  --list-style-type-disc: disc;
  --list-style-type-circle: circle;
  --list-style-type-square: square;
  --list-style-type-upper-alpha: upper-alpha;
  --list-style-type-lower-alpha: lower-alpha;
  --list-style-type-upper-roman: upper-roman;
  --list-style-type-lower-roman: lower-roman;

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --font-fredoka: var(--font-fredoka);
  --font-mplus: var(--font-mplus);
  --font-noto: var(--font-noto);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-mono);

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

:root {
  --background: oklch(1 0 89.9deg);
  --foreground: oklch(0.1294 0.0273 261.7deg);
  --card: oklch(1 0 89.9deg);
  --card-foreground: oklch(0.1294 0.0273 261.7deg);
  --popover: oklch(1 0 89.9deg);
  --popover-foreground: oklch(0.1294 0.0273 261.7deg);
  --primary: oklch(0.5409 0.2468 293deg);
  --primary-foreground: oklch(0.9843 0.0017 247.8deg);
  --secondary: oklch(0.9671 0.0029 264.5deg);
  --secondary-foreground: oklch(0.2103 0.0318 264.7deg);
  --muted: oklch(0.9671 0.0029 264.5deg);
  --muted-foreground: oklch(0.5513 0.0233 264.4deg);
  --accent: oklch(0.9671 0.0029 264.5deg);
  --accent-foreground: oklch(0.2103 0.0318 264.7deg);
  --destructive: oklch(0.6368 0.2078 25.3deg);
  --destructive-foreground: oklch(0.9843 0.0017 247.8deg);
  --border: oklch(0.9278 0.0058 264.5deg);
  --input: oklch(0.9278 0.0058 264.5deg);
  --ring: oklch(0.5409 0.2468 293deg);
  --radius: 1rem;
}

.dark {
  --background: oklch(0.1294 0.0273 261.7deg);
  --foreground: oklch(0.9843 0.0017 247.8deg);
  --card: oklch(0.1294 0.0273 261.7deg);
  --card-foreground: oklch(0.9843 0.0017 247.8deg);
  --popover: oklch(0.1294 0.0273 261.7deg);
  --popover-foreground: oklch(0.9843 0.0017 247.8deg);
  --primary: oklch(0.4907 0.2413 292.6deg);
  --primary-foreground: oklch(0.9843 0.0017 247.8deg);
  --secondary: oklch(0.2784 0.0296 256.8deg);
  --secondary-foreground: oklch(0.9843 0.0017 247.8deg);
  --muted: oklch(0.2784 0.0296 256.8deg);
  --muted-foreground: oklch(0.7137 0.0192 261.3deg);
  --accent: oklch(0.2784 0.0296 256.8deg);
  --accent-foreground: oklch(0.9843 0.0017 247.8deg);
  --destructive: oklch(0.3959 0.1331 25.7deg);
  --destructive-foreground: oklch(0.9843 0.0017 247.8deg);
  --border: oklch(0.2784 0.0296 256.8deg);
  --input: oklch(0.2784 0.0296 256.8deg);
  --ring: oklch(0.4907 0.2413 292.6deg);
}

/* ensures iOS won't allow scrolling while dragging */
.touch-none {
  touch-action: none;
}
